@import "./utilities/variables";
@import "./utilities/mixins";

@import "./base/reset";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    background-color:map-get($colors,principal);
}

.border {
    border: 1px solid black;
    border-radius: .3em;
}

comunSubtitulos{
    font-family: $font-family-general;
    font-weight: bolder;
    font-size:large;
 
}

section#inputDatos{
    grid-area: inputDatos;
    font-family: $font-family-general;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}
    
#leyenda {
    @extend comunSubtitulos;
    color:rgb(91, 112, 20);
    margin: 5px;
}

#leyendaBold {
    font-family: $font-family-general;
    font-size:x-large;
    font-weight: bolder;
    color:map-get($colors,subtitulos_adicional);
    margin: 5px;
}

#textoGeneral  {
    font-family: $font-family-general;
    font-size: medium;
    color:rgb(4, 4, 4);
}

.parrafoColor {
    @extend comunSubtitulos;
    margin: 10px;
    color:map-get($colors,subtitulos);
}

.subtitulos {
    @extend comunSubtitulos;
    color:map-get($colors,subtitulos);
}

.subtitulosAdicionales {
    @extend comunSubtitulos;
    margin: 10px;
    color:map-get($colors,subtitulos_adicional);
}
    
.nav-link:hover
    {
    background-color: rgb(220, 220, 172);
    transition: 0.5s;
    border-radius:5px;
}
