@import "./utilities/variables";
@import "./utilities/mixins";

@import "./base/reset";
@import "./layout/header";
@import "./layout/main";


@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    background-color:map-get($colors,principal);
}

footer{
    font-family: $font-family-general;
    display: grid;
    justify-content: end;
    align-content: end;
    min-height: 50px;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px 50px;
    background-color:map-get($colors,principal);
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 20px;
        .secc {
            h2 {
               position: relative; 
               color: #07639d;
               font-weight: 500px;
               margin-bottom: 15px;
               &::before{             
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 70px;
                    height: 3px;
                    background-color: #dc951b;
              }               
            }
            p {
                color:#040404;
            }
          }    
      }    
  }


.redesSociales{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
    li {
        list-style: none;
        a {
            display: inline-block;
            width: 48px;
            height: 48px;
            background: #4fa4e9;
            display: grid;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 4px;
            &:hover{
                background: #74bbf1;
            }            
            .fa {
                color:#fbf9f9;
                font-size: 20px;
            }            
        }
    }
}


.accesosDirectos{
    position: relative;
    li {
        list-style: none;
        a {
            background: map-get($colors,principal);
            color:#040404;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
            &:hover{
                color: #dc951b;
            }            
        }

    }
}

.info{
    position: relative;
    li {
        display: grid;
        grid-template-columns: 30px 1fr;
        margin-bottom: 16px;
        span {
            color:#040404;
            &:nth-child(1){
                color:#040404;
                font-size: 20px;
            } 
        }
    }
    a{
        background-color: map-get($colors,principal);
        color:#040404;
        text-decoration: none;
        &:hover{
            color: #dc951b;
        }          
    }
}


.copyrightTexto{
    width: 100%;
    background: #718af7;
    padding: 8px 100px;
    text-align: center;
    color:#040404;
}

@media (max-width: 991px) {
    footer{
        padding: 40px;
        .container{
            grid-template-columns: repeat(2,1fr);
        }
    }
    .copyrightTexto{
        padding: 8px 40px;   
    }
}

@media (max-width: 768px) {
    footer{
        padding: 40px;
        .container{
            grid-template-columns: repeat(1,1fr);
        }
    }
}

comunSubtitulos{
    font-family: $font-family-general;
    font-weight: bolder;
    font-size:large;
 
}

.border {
    border: 1px solid black;
    border-radius: .3em;
}  

    
section#inputDatos{
    grid-area: inputDatos;
    font-family: $font-family-general;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}
    
    
    
#leyenda {
    @extend comunSubtitulos;
    color:rgb(91, 112, 20);
    margin: 5px;
}

#leyendaBold {
    font-family: $font-family-general;
    font-size:x-large;
    font-weight: bolder;
    color:map-get($colors,subtitulos_adicional);
    margin: 5px;
}


#textoGeneral  {
    font-family: $font-family-general;
    font-size: medium;
    color:rgb(4, 4, 4);
}

#tituloGral {
    @extend comunSubtitulos;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
    color: #0564b3;
    border: $box-general;
}
 
#login {
    @extend comunSubtitulos;
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 1px;
    color: #0564b3;
}

    
    
    
.parrafoColor {
    @extend comunSubtitulos;
    margin: 10px;
    color:map-get($colors,subtitulos);
}



.subtitulos {
    @extend comunSubtitulos;
    color:map-get($colors,subtitulos);
}

.subtitulosAdicionales {
    @extend comunSubtitulos;
    margin: 10px;
    color:map-get($colors,subtitulos_adicional);
}
    
    
textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    resize:none;
    display:block;
}

.letraFooter {
    font-family: $font-family-general;
    font-weight: bolder;
    font-size:medium;
    margin: 10px;
    color: #000b14;
    }  
        
.redes {
    opacity: 0.5;
    &:hover{
        opacity: 1.0;
        }            
    }
    
.nav-link:hover
    {
    background-color: rgb(220, 220, 172);
    transition: 0.5s;
    border-radius:5px;
}